/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

* {
    box-sizing: border-box;
}
.books {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 2em;
    perspective: 2000px;
}
.book {
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: grid;
    font-family: "helvetica", "arial", sans-serif;
    grid-template-areas: "logo publisher" "pre-title title" "pre-author author" "artwork artwork";
    grid-template-columns: 45%;
    grid-template-rows: 10.34% 11.72% 6.35%;
    height: 582.4908px;
    width: 600px;
}
.book__logo {
    grid-area: logo;
    
}
.book__publisher {
    align-items: center;
    display: flex;
    grid-area: publisher;
    
    
}
.book__pre-title {
    grid-area: pre-title;
    align-items: center;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.book__title {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    grid-area: title;
}
.book__pre-author {
    grid-area: pre-author;
    align-items: center;
    display: flex;
    padding: 10px;
 
}
.book__author {
    align-items: center;
    display: flex;
    grid-area: author;
}
.book__artwork {
    grid-area: artwork;
    overflow: hidden;
    display: flex;
    align-items: center;
   
}
.penguin-logo {
    display: block;
    fill: currentcolor;
    height: 100%;
    padding: 0.7em;
    transform: scaleX(-1);
}
.book--the-case-of-the-marber {
    background-color: #f9f2e2;
    color: #393a3b;
}
.book--the-case-of-the-marber .book__artwork, .book--the-case-of-the-marber .book__pre-author, .book--the-case-of-the-marber .book__author {
    background-color: #5c9ea1;
    color: #f9f2e2;
}
.book--the-case-of-the-marber .book__logo, .book--the-case-of-the-marber .book__publisher, .book--the-case-of-the-marber .book__pre-author, .book--the-case-of-the-marber .book__author {
    border-bottom: 1px solid;
}
.book--the-case-of-the-marber .penguin-artwork {
    fill: 393a 3b;
    position: absolute;
    top: 30%;
}
.book--smashing {
    background-color: #fff;
    color: #891b1f;
}
.book--smashing .book__logo, .book--smashing .book__publisher, .book--smashing .book__pre-title, .book--smashing .book__title {
    border-bottom: 1px solid;
}
.book--smashing .book__artwork {
    background-color: #98d6f7;
}
.book--smashing .smashing-cat {
    position: absolute;
    bottom: -2em;
    left: -3em;
    width: 120%;
    transform: scaleX(-1);
}
.book--conference {
    background-color: #4a4a4a;
    color: #fff;
}
.book--conference .book__logo, .book--conference .book__publisher, .book--conference .book__pre-title, .book--conference .book__title {
    border-bottom: 1px solid;
}
.book--conference .book__artwork {
    background-color: #85837e;
    
}
.book--conference .frontendne-logo {
    fill: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.book--1984 {
    background-color: #f9f2e2;
    color: #393a3b;
}
.book--1984 .book__artwork, .book--1984 .book__pre-author, .book--1984 .book__author {
    background-color: #df7020;
    color: #f9f2e2;
}
.book--1984 .book__logo, .book--1984 .book__publisher, .book--1984 .book__pre-author, .book--1984 .book__author {
    border-bottom: 1px solid;
}
.book--1984 .redact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-container {
    overflow-y: scroll;
    height: 300px;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
}

.scroll-container::-webkit-scrollbar {
    width: 0.5em; /* Ajusta el ancho de la barra de desplazamiento */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar de la barra de desplazamiento */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #f1ecec; /* Color del pulgar de la barra de desplazamiento en estado de hover */
}